body {
    background: #E1F0DA;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #12372A;
  }
  
  ul {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit; /* Esto asegura que el color del texto del enlace se herede del elemento padre */
}

  .bg-steel {
    background-color: #12372A;
  }

  .site-header .navbar-nav .nav-link {
    color: #E1F0DA;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .navbar-nav{
    margin-left: 2rem;
  }

  .loginregister-sub {
    margin-left: 45rem;
  }


  
  .content-section {
    background: #fbfff7;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .mr-3 {
    margin-right: 30px;
  }

  .post-author {
    color: #12372A;
    font-weight: bold;
  }


  .article-title {
    color: #12372A;
  }
  
  a.article-title:hover {
    color: #648871;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
