{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> <h2>Write your review 🐸🖊️</h2></legend>
                {{ form|crispy }} 
            </fieldset>
            <div class="form-group pt-3 pb-3">
                <button class="btn btn-outline-success btn-sm" type="submit"><b>Create</b></button>
            </div>
        </form>
    </div>
{% endblock content%}